.plans {
  padding: 5.6vw;
  h2 {
    text-align: center;
  }
  &__list {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
    margin-top: 50px;

    &__item {
      width: 100%;
      max-width: 380px;
      padding: 60px 44px 44px;
      text-align: center;
      img {
        height: 83px;
      }
      strong {
        margin-top: 24px;
        display: block;
      }
      &:nth-child(2){
       background-image:url(../images/fundo_combo_plus.png);
       background-repeat: no-repeat;
       background-size: contain;
      }
    }
  }
  p {
    text-align: center;
  }
}
